<div class="project-cards-container">
  <div class="row">
    <!-- Project Card 1 -->
    <div class="col-md-4 mb-4">
      <div class="project-card shadow-sm">
        <%= image_tag("QR_code_component.png", class: "project-card-img", alt: "QR code component") %>
        <div class="project-card-body">
          <h5 class="project-card-title mb-0">QR code component</h5>
          <div class="project-tech-container mt-2 d-flex">
            <%= display_technology("Ruby") %>
            <%= display_technology("JavaScript") %>
            <%= display_technology("JavaScript") %>
            <%= display_technology("JavaScript") %>
          </div>
          <p class="project-card-description">This is a description of the first project. It explains what the project is about and its purpose.</p>
        </div>
      </div>
    </div>

    <!-- Project Card 2 -->
    <div class="col-md-4 mb-4">
      <div class="project-card shadow-sm">
       <%= image_tag("Blog_preview_card.png", class: "project-card-img", alt: "Blog preview card") %>
        <div class="project-card-body">
          <h5 class="project-card-title">Blog preview card</h5>
          <p class="project-card-description">This is a description of the second project. It explains what the project is about and its purpose.</p>
        </div>
      </div>
    </div>

    <!-- Project Card 3 -->
    <div class="col-md-4 mb-4">
      <div class="project-card shadow-sm">
        <%= image_tag "Social_links_profile.png", class: "project-card-img", alt: "Social links profile" %>
        <div class="project-card-body">
          <h5 class="project-card-title">Social links profile</h5>
          <p class="project-card-description">This is a description of the third project. It explains what the project is about and its purpose.</p>
        </div>
      </div>
    </div>

    <!-- Project Card 4 -->
    <div class="col-md-4 mb-4">
      <div class="project-card shadow-sm">
        <%= image_tag "Recipe_page.png", class: "project-card-img", alt: "Recipe page" %>
        <div class="project-card-body">
          <h5 class="project-card-title">Recipe page</h5>
          <p class="project-card-description">This is a description of the fourth project. It explains what the project is about and its purpose.</p>
        </div>
      </div>
    </div>

    <!-- Project Card 5 -->
    <div class="col-md-4 mb-4">
      <div class="project-card shadow-sm">
        <%= image_tag "Results_summary_component.png", class: "project-card-img", alt: "Results summary component" %>
        <div class="project-card-body">
          <h5 class="project-card-title">Results summary component</h5>
          <p class="project-card-description">This is a description of the fifth project. It explains what the project is about and its purpose.</p>
        </div>
      </div>
    </div>
  </div>
</div>
