<div class="container mt-5">
  <h1><%= @project.title %></h1>
  <%= image_tag @project.image, class: "img-fluid mb-4", alt: @project.title %>
  <p><%= @project.description %></p>
  <%= link_to "Voir le projet en ligne", @project.link, target: "_blank", class: "btn btn-primary" %>
  <%= link_to "Retour aux projets", projects_path, class: "btn btn-secondary mt-2" %>
</div>
